EurusBankQueryAccountsWS/src/main/webapp/queryAccountsWs.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns="http://ws.eurus.com" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ax22="http://io.java/xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ax21="http://net.java/xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://ws.eurus.com">
    <wsdl:types>
        <xs:schema xmlns:ax24="http://io.java/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://net.java/xsd">
            <xs:import namespace="http://io.java/xsd"/>
            <xs:complexType name="MalformedURLException">
                <xs:complexContent>
                    <xs:extension base="ax24:IOException">
                        <xs:sequence/>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ax25="http://net.java/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://ws.eurus.com">
            <xs:import namespace="http://net.java/xsd"/>
            <xs:element name="sayHello">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="sayHelloResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="queryAccountsByNameAndBranch">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="branch" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="queryAccountsByNameAndBranchResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:complexType name="Exception">
                <xs:sequence>
                    <xs:element minOccurs="0" name="Exception" nillable="true" type="xs:anyType"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="MalformedURLException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="MalformedURLException" nillable="true" type="ax25:MalformedURLException"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="queryAccountsByName">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="queryAccountsByNameResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema xmlns:ax23="http://ws.eurus.com" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://io.java/xsd">
            <xs:import namespace="http://ws.eurus.com"/>
            <xs:complexType name="IOException">
                <xs:complexContent>
                    <xs:extension base="ax23:Exception">
                        <xs:sequence/>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="sayHelloRequest">
        <wsdl:part name="parameters" element="ns:sayHello"/>
    </wsdl:message>
    <wsdl:message name="sayHelloResponse">
        <wsdl:part name="parameters" element="ns:sayHelloResponse"/>
    </wsdl:message>
    <wsdl:message name="queryAccountsByNameRequest">
        <wsdl:part name="parameters" element="ns:queryAccountsByName"/>
    </wsdl:message>
    <wsdl:message name="queryAccountsByNameResponse">
        <wsdl:part name="parameters" element="ns:queryAccountsByNameResponse"/>
    </wsdl:message>
    <wsdl:message name="MalformedURLException">
        <wsdl:part name="parameters" element="ns:MalformedURLException"/>
    </wsdl:message>
    <wsdl:message name="queryAccountsByNameAndBranchRequest">
        <wsdl:part name="parameters" element="ns:queryAccountsByNameAndBranch"/>
    </wsdl:message>
    <wsdl:message name="queryAccountsByNameAndBranchResponse">
        <wsdl:part name="parameters" element="ns:queryAccountsByNameAndBranchResponse"/>
    </wsdl:message>
    <wsdl:portType name="queryAccountsWsPortType">
        <wsdl:operation name="sayHello">
            <wsdl:input message="ns:sayHelloRequest" wsaw:Action="urn:sayHello"/>
            <wsdl:output message="ns:sayHelloResponse" wsaw:Action="urn:sayHelloResponse"/>
        </wsdl:operation>
        <wsdl:operation name="queryAccountsByName">
            <wsdl:input message="ns:queryAccountsByNameRequest" wsaw:Action="urn:queryAccountsByName"/>
            <wsdl:output message="ns:queryAccountsByNameResponse" wsaw:Action="urn:queryAccountsByNameResponse"/>
            <wsdl:fault message="ns:MalformedURLException" name="MalformedURLException" wsaw:Action="urn:queryAccountsByNameMalformedURLException"/>
        </wsdl:operation>
        <wsdl:operation name="queryAccountsByNameAndBranch">
            <wsdl:input message="ns:queryAccountsByNameAndBranchRequest" wsaw:Action="urn:queryAccountsByNameAndBranch"/>
            <wsdl:output message="ns:queryAccountsByNameAndBranchResponse" wsaw:Action="urn:queryAccountsByNameAndBranchResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="queryAccountsWsSoap11Binding" type="ns:queryAccountsWsPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="sayHello">
            <soap:operation soapAction="urn:sayHello" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="queryAccountsByName">
            <soap:operation soapAction="urn:queryAccountsByName" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="MalformedURLException">
                <soap:fault use="literal" name="MalformedURLException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="queryAccountsByNameAndBranch">
            <soap:operation soapAction="urn:queryAccountsByNameAndBranch" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="queryAccountsWsSoap12Binding" type="ns:queryAccountsWsPortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="sayHello">
            <soap12:operation soapAction="urn:sayHello" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="queryAccountsByName">
            <soap12:operation soapAction="urn:queryAccountsByName" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="MalformedURLException">
                <soap12:fault use="literal" name="MalformedURLException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="queryAccountsByNameAndBranch">
            <soap12:operation soapAction="urn:queryAccountsByNameAndBranch" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="queryAccountsWsHttpBinding" type="ns:queryAccountsWsPortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="sayHello">
            <http:operation location="queryAccountsWs/sayHello"/>
            <wsdl:input>
                <mime:content type="text/xml" part="sayHello"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="sayHello"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="queryAccountsByName">
            <http:operation location="queryAccountsWs/queryAccountsByName"/>
            <wsdl:input>
                <mime:content type="text/xml" part="queryAccountsByName"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="queryAccountsByName"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="queryAccountsByNameAndBranch">
            <http:operation location="queryAccountsWs/queryAccountsByNameAndBranch"/>
            <wsdl:input>
                <mime:content type="text/xml" part="queryAccountsByNameAndBranch"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="queryAccountsByNameAndBranch"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="queryAccountsWs">
        <wsdl:port name="queryAccountsWsHttpSoap11Endpoint" binding="ns:queryAccountsWsSoap11Binding">
            <soap:address location="http://localhost:8080/axis2/services/queryAccountsWs"/>
        </wsdl:port>
        <wsdl:port name="queryAccountsWsHttpSoap12Endpoint" binding="ns:queryAccountsWsSoap12Binding">
            <soap12:address location="http://localhost:8080/axis2/services/queryAccountsWs"/>
        </wsdl:port>
        <wsdl:port name="queryAccountsWsHttpEndpoint" binding="ns:queryAccountsWsHttpBinding">
            <http:address location="http://localhost:8080/axis2/services/queryAccountsWs"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
